{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-base",
    "airbnb-typescript"
  ],
  "plugins": [
    "@typescript-eslint",
    "eslint-plugin-playwright"
  ],
  "ignorePatterns": [
    "node_modules",
    "src/report",
    "test-results"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "semi": "error",
    "function-paren-newline": [
      "error",
      "consistent"
    ],
    "max-len": [
      "error",
      {
        "code": 80,
        "tabWidth": 2,
        "ignoreComments": true,
        "ignoreTrailingComments": true,
        "ignoreUrls": true,
        "ignorePattern": "^\\s*(export\\s+abstract\\s+class\\s+.*|import\\s.+\\sfrom\\s.+;)$",
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }
    ],
    "max-depth": [
      "error",
      4
    ],
    "no-plusplus": 0,
    "implicit-arrow-linebreak": "off",
    "operator-linebreak": ["off"],
    "class-methods-use-this": "off",
    "no-restricted-syntax": "off",
    "no-await-in-loop": "off",
    "@typescript-eslint/no-unused-expressions": "off",
    "react/jsx-filename-extension": [
      0
    ],
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "no-constructor-return": "off",
    "no-underscore-dangle": "off",
    "no-param-reassign": "off",
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "variable",
        "format": [
          "camelCase",
          "PascalCase",
          "UPPER_CASE"
        ]
      },
      {
        "selector": "function",
        "format": [
          "camelCase",
          "PascalCase"
        ]
      },
      {
        "selector": "typeLike",
        "format": [
          "PascalCase",
          "UPPER_CASE"
        ]
      }
    ]
  }
}